/* CSS Document */

html, body	{
							font-family: Verdana, Helvetica, sans-serif;
							font-size: 0.9em;
							background-image: url(sfondo.jpg);
						}

body	{
				padding: 3% 5% 0%;
				margin: 0;
			}

h1, h2, h3, h4	{
									font-variant: small-caps;
								}

h1	{
			font-size: 2em;
		}

/*  Stile sezione header  */

#header	{
					margin: 0;
					border-bottom: 0.1px solid black;
	        padding: 4.95% 5%;
					background-color: white;
					text-align: center;
					width: 69%;
					float: left;
				}

#logo	{
				background-image: url(Valdobbiadene.gif);
				background-repeat: no-repeat;
       	display: block;
				width: 20%;
       	height: 7em;
       	float: left;
			}
       
#intestazione	{
								/*padding: 0.5em 1em 0.5em 1em;*/
							}
                
/*  Stile sezione login */

#login	{
					padding: 1%;
					width: 19%;
					background-color: yellow;
					float: right;
				}

/*  Stile barra di navigazione  */        

#nav_bar	{
						border-right: 0.1px solid black;
						padding: 1%;
						background-color: white;
						width: 20%;
						float:left;
					}
          
dd {padding: 0.3em;}
          
/*  Stile sezione principale  */

#corpo	{
					padding: 4%;
					width: 92%;
       		background-color: rgb(255,255,255);
					text-align: center;
				}
       
#corpo h2, #corpo h3 {text-align: center;}
         
#corpo p {padding: 0.4em;}

/*  Stile sezione footer  */

#footer {
				padding: 0.1px;
				background-color: black;
				clear: both;
				}            

/*  Stile pagina dei sondaggi  */

fieldset p {display: inline;}     
