/* CSS Document */

body {
	margin: 0em;
	padding: 0em;
	border: 0em;
	font-size: 1em;
        font-family: Verdana, Helvetica, sans-serif;
	/*background-image: url(sfondo.jpg);*/ 
}

h1, h2, h3, h4	{
	font-variant: small-caps;
}

img {
	border: 0em;
}

#container {
	background: white;
}

/*  Stile sezione header  */

#header {
	border-bottom: 1px solid black;
        height: 6em;
	/*padding: 3.65% 5%;*/
	/*width: 100%;*//*69.9%;*/
	/*float: left;*/
}

#logo {
	background-image: url(Valdobbiadene.gif);
	background-repeat: no-repeat;
        display: block;
	width: 20%;
        height: 6em;
        float: left;
}
       
#intestazione {
        text-align: left;
        padding-left: 30%;
}
                
/*  Stile sezione login */

#login {
	float: right;
        width: 15%;
        margin-top: -5em;
        padding: 0.5em;
        border-left: 1px black solid;
        border-bottom: 1px black solid;
        background-color: rgb(246, 176, 40);
}

#login:hover {
        background-color: rgb(255, 190, 118);
}

/* Stile barra di navigazione */

#nav_bar {
	border-right: 1px solid black;
	width: 20%;
	float: left;
	text-align: left;
}

dt {
        padding-left: 1em;
        padding-top: 0.5em;
}

dd {
        padding-top: 0.5em;
}

#corpo {
        margin-left: 25%;
        padding-top: 1.5em;
        margin-right: 10%;
}

.errore {
        color: red;
}

/*  Stile sezione footer  */

#footer {
	padding: 0.1em;
	padding-left: 2em;
	background-color: black;
	clear: both;
	text-align: left;
}            

/*  Stile pagina dei sondaggi  */
