/* CSS Document */

body {
	margin: 0em;
	padding: 0em;
	border: 0em;
	font-size: 1em;
        font-family: Verdana, Helvetica, sans-serif;
	/*background-image: url(sfondo.jpg);*/ 
}

h1, h2, h3, h4	{
	font-variant: small-caps;
}

img {
	border: 0em;
}

#container {
	background: white;
}

/*  Stile sezione header  */

#header {
	border-bottom-width: 9px;
        border-bottom-style: solid;
        border-bottom-color: #f4b622;
        height: 6em;
	/*padding: 3.65% 5%;*/
	/*width: 100%;*//*69.9%;*/
	/*float: left;*/
}

#logo {
	background-image: url(Valdobbiadene.gif);
	background-repeat: no-repeat;
        display: block;
	width: 20%;
        height: 6em;
        float: left;
}
       
#intestazione {
        text-align: left;
        padding-left: 30%;
}
                
/*  Stile sezione login */

#login {
	float: right;
        width: 15%;
        margin-top: -5em;
        padding: 0.5em;
        border-left: 1px black solid;
        border-bottom: 1px black solid;
        background-color: rgb(246, 176, 40);
}

#login:hover {
        background-color: rgb(255, 190, 118);
}

/* Stile barra di navigazione */

#nav_top {
        margin-top: 1em;
        padding-right: 10px;
        float: left;
        height: 50px;
        width: 20%;
        background-position: 100% 0%;
        background-image: url(/images/border_top.png);
        background-repeat: no-repeat;
}

#nav_bottom {
        padding-right: 9px;
        clear: left;
        float: left;
        height: 70px;
        width: 20%;
        background-position: 100% 0%;
        background-image: url(/images/border_bottom.png);
        background-repeat: no-repeat;
}

#nav_bar {
	border-right: 9px #eeab0d solid;
	width: 20%;
        clear: left;
	float: left;
	text-align: left;
}

#nav_menu {
/*        margin-top: -40px;*/
}

#all_tem {
        margin-top: 0.5em;
}

.menu_title {
        padding-left: 1em;
        margin-top: 0em;
}

.menu_item {
        padding-bottom: 0.5em;
}

#corpo {
        margin-left: 25%;
        padding-top: 1.5em;
        margin-right: 10%;
}

.errore {
        color: red;
}

.successo {
        color: green;
}

.ok {
        padding: 0.3em;
        background-color: white;
        border-style: solid;
        border-color: #ed850a; 
        font-style: italic;
}

.ok:hover {
        background-color: rgb(255, 190, 118);
}

/*  Stile sezione footer  */

#footer {
	padding: 0.1em;
	padding-left: 2em;
	/*background-color: black;*/
	clear: both;
	text-align: left;
}            

/*  Stile pagina dei sondaggi  */

/* Stile elenco tematiche */

#tem_list_title {
        font-size: 1.5em;
        font-variant: normal;
}

#tem_list {
        padding-top: 0.5em;
        list-style-type: none;
        border: 1px #eeab0d dotted;
}

#tem_list li {
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        border-bottom: 1px #eeab0d dotted;
}

#a_prec {
        float: left;
        width: 20%;
}

#a_succ {
        float: right;
        width: 20%;
        text-align: right;
}
