<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link href="main_style.css" rel="stylesheet" media="screen" />
</head>
<body>

<div class="header"> Aloha! </div>

<div class="menu">
  <div class="menu_title"> Naviga </div>
  <ul class="nav">
   <li> Home </li>
   <li> blah blah </li>
  </ul>
  <div class="menu_title"> Sondaggi </div>
  <ul class="polls_menu">
    <li> Poll 1 </li>
    <li> Poll 2 </li>
    <li> Veeeeeeeeeeeeeeeeeeeeery long poll name </li>
  </ul> 
</div>

<div class="content">
  <h1 class="poll_title"> Titolo del poll </h1>
  <p class="poll_desc"> Descrizione del poll </p>
  <form class="poll_questions" method="POST" action="/cgi-bin/save_vote.pl">
    <fieldset>
      <div class="domanda"> Domanda 1 </div>
      <div class="choice"> 
        <label for="cid00"> Possibilit&agrave; 1 </label> 
        <input type="radio" name="cid0" id="cid00" value="t" />
      </div>
      <div class="choice">
        <label for="cid01"> Possibilit&agrave; 2 </label> 
        <input type="radio" name="cid0" id="cid01" value="t" />
      </div>
    </fieldset>
    <fieldset>
      <div class="domanda"> Domanda 2 </div>
      <div class="choice"> 
        <label for="cid10"> Possibilit&agrave; 1 </label> 
        <input type="radio" name="cid1" id="cid10" value="t" />
      </div>
      <div class="choice">
        <label for="cid11"> Possibilit&agrave; 2 </label> 
        <input type="radio" name="cid1" id="cid11" value="t" />
      </div>
    </fieldset>
    <input type="submit" value="Conferma" class="submit" />
  </form>
</div>

</body>
</html>
